@page "/"
@using System.Net
@using CovidTracker.Code
@using Microsoft.AspNetCore.Identity

@inject NavigationManager Navigator

<h1>Welcome to the COVID SAFE System !</h1>

<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg">please input your unique identification here</span>
  </div>
  <input @bind="@Text" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
</div>
<button type="button" class="btn btn-primary" @onclick="@Post">Submit</button>

@code {
    [Parameter]
    public string Text { get; set; } = "";

    public async void Post()
    {
        await AppClient.PostJsonAsync(@Navigator.BaseUri + "api/Login", Text);
    }
}