@page "/"

<h1>Welcome to the COVID SAFE System !</h1>

<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg">please input your unique identification here</span>
  </div>
  <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
</div>
<button type="button" class="btn btn-primary">Submit</button>
